@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333333;
  --background-color: #d6eef3;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  font-weight: 3000;
}
h3{
  margin-bottom: 2px;
}

article {
  background-color: white;
  max-width: 800px;
  margin: 0px auto 10px auto;
  padding: 16px;
}
article .img {
  min-width: 100vw;
}
